body{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 3vw;

color: #5E6282;
background-image: url(images/Decore.png);
background-repeat: no-repeat;
background-position: right top;
background-size:50vw;
}
.navbar {
  margin-top: 3.5vw;
  padding: 0;
  margin-bottom: 1vw;
}

.navbar-nav .nav-item {
  margin-right: 3vw;
}


.navbar-nav .nav-item .nav-link {
  color: #212832; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 2.2vw;
}



.navbar-toggler-icon{
  color: #212832;
}
.navbar-toggler {
  border-color: #000;
  text-decoration: #000;
}

@media (max-width: 1024px) {
  .navbar-brand {
      margin-right: 6vw;
  }

  .navbar-nav .nav-item {
      margin-right: 1.5vw;
  }

  .navbar-nav .nav-item .nav-link {
      font-size: 14px;
      line-height: 20px;
  }

  .btn-outline-success {
      font-size: 14px;
      padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-item {
      margin-right: 0;
  }
  .navbar-brand {
    max-width: 40%;
  }
  .navbar-nav .nav-item {
    margin-right: 0;
  }

  .navbar-nav .nav-item .nav-link {
      font-size: 12px;
      line-height: 24px;
  }

  .btn-outline-success {
      font-size: 11px;
      padding: 8px 16px;
  }

  .btn-fom {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .btn-pl{
    margin-right: 0;
  }

  .title h2 {
    font-size: 24px;
  }

  .title h1 {
      font-size: 30px;
  }

    .footer-section h5 {
      font-size: 1.125rem;
  }

  .footer-section p {
      font-size: 0.875rem;
  }

  .footer-section .footer-links a {
      font-size: 0.875rem;
  }

  .footer-section .footer-bottom {
      font-size: 0.75rem;
  }
}

@media (max-width: 375px) {
  .navbar-toggler {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1;
  }

  .navbar-toggler-icon {
      width: 1.25em;
      height: 1.25em;
  }
  .navbar-brand img {
    max-width: 40%;
  }
  .section-intro .btn-pl{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: #DF6951;
    box-shadow: 0px 15px 10px rgba(223, 105, 81, 0.3);
    border-radius: 50%;

    font-size: 10px;
    color: white;
  }
  .section-intro .btn-pl .bi{
    align-items: center;
    justify-content: center;
    display: flex;
  }


  .card.card-no-border {
    max-width: 250px;
  }

  .card-title {
      font-size: 18px;
  }

  .card-text {
      font-size: 14px;
  }

  .title h2 {
    font-size: 16px;
  }

  .title h1 {
      font-size: 20px;
  }

    .footer-section h5 {
      font-size: 1rem;
  }

  .footer-section p {
      font-size: 0.50rem;
  }

  .footer-section .footer-links a {
      font-size: 0.50rem;
  }

  .footer-section .footer-bottom {
      font-size: 0.200rem;
  }


  .footer-section .col-md-3 {
      margin-bottom: 20px;
  }

  .footer-section .row {
    flex-direction: column;
  }
  .alert{
    font-size: 0.600rem;
  }
  .title h1{
    font-size: 1rem;
  }
  .title h2{
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 0.8rem;
  }
  .card-text {
      font-size: 0.7rem;
  }
}

.navbar-brand {
  margin-right: 18%;
}

.section-intro .container{
    padding-top: 5vw;

    background-image: url(images/Girl.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10%) top;
    height: 52vw;
    background-size: 40vw;
}

.section-intro .intro-tagline-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.2vw;
line-height: 2vw;
text-transform: uppercase;

margin-bottom: 2vw;

color: #DF6951;
}
.section-intro .intro-promotion{

font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 5vw;
line-height: 5vw;
letter-spacing: -0.04em;
color: #181E4B;

margin-bottom: 2vw;
}

.section-intro .intro-comment{
  margin-bottom: 2vw;
  font-size: 1.1vw;
}
.section-intro .btn-fom{
    width: 12vw;
    height: 4vw;

    margin-right: 4vw;

    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 1vw;
    color: white;
    font-size: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-intro .btn-pl{
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
    background: #DF6951;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    border-radius: 50%;

    font-size: 2vw;
    color: white;
}

.section-intro .btn-pl .bi{
  align-items: center;
  justify-content: center;
  display: flex;
}

.img-thumbnail {
  background-color: transparent; /* Делаем рамку прозрачной */
  border: none; /* Убираем рамку */
}

.card{
  border: none;
}
.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.image-grid {
  margin: 20px auto;
  max-width: 800px;
}

.image-grid .col {
  padding: 10px;
}

.footer-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  margin-top: 8vw; /* Добавлен отступ сверху */
}

.footer-section h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-section .footer-links a {
  color: #6c757d;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-section .footer-links a:hover {
  color: #000;
}

.footer-section .footer-bottom {
  margin-top: 3%;
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
}