.carousel-container {
    max-width: 400px; /* Установите желаемую ширину слайдера */
    margin: 0 auto; /* Выравнивание по центру */
}

@media (max-width: 768px) {
  .carousel-container {
      max-width: 250px; /* Установите ширину для экранов меньше 768px */
  }

  .navbar-nav .nav-item {
      margin-right: 0;
  }
  .navbar-brand {
    max-width: 40%;
  }
  .navbar-nav .nav-item {
    margin-right: 0;
  }

  .navbar-nav .nav-item .nav-link {
      font-size: 12px;
      line-height: 24px;
  }
    .modal-button-container button {
    width: 50%;
    max-width: 200px;
    font-size: 80%;
  }
  .modal-button-container{
    left: 35%;
  }
    .footer-section h5 {
      font-size: 1.125rem;
  }

  .footer-section p {
      font-size: 0.875rem;
  }

  .footer-section .footer-links a {
      font-size: 0.875rem;
  }

  .footer-section .footer-bottom {
      font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
    .carousel-container {
        max-width: 100px; /* Установите ширину для экранов меньше 576px */
    }
}

body{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 3vw;

color: #5E6282;
background-image: url(images/Decore.png);
background-repeat: no-repeat;
background-position: right top;
background-size:50vw;
}
.navbar {
  margin-top: 3.5vw;
  padding: 0;
  margin-bottom: 1vw;
}

.navbar-nav .nav-item {
  margin-right: 3vw;
}


.navbar-nav .nav-item .nav-link {
  color: #212832; 
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 2.2vw;
}



.navbar-toggler-icon{
  color: #212832;
}
.navbar-toggler {
  border-color: #000;
  text-decoration: #000;
}

@media (max-width: 1024px) {
  .navbar-brand {
      margin-right: 6vw;
  }

  .navbar-nav .nav-item {
      margin-right: 1.5vw;
  }

  .navbar-nav .nav-item .nav-link {
      font-size: 14px;
      line-height: 20px;
  }
  .modal-button-container{
    left: 37%;
  }
}



@media (max-width: 375px) {
  .navbar-toggler {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1;
  }

  .navbar-toggler-icon {
      width: 1.25em;
      height: 1.25em;
  }
  .navbar-brand img {
    max-width: 40%;
  }
    .modal-button-container button {
      width: 25%;
      max-width: 300px;
      font-size: 50%;
  }
  .footer-section h5 {
      font-size: 1rem;
  }

  .footer-section p {
      font-size: 0.50rem;
  }

  .footer-section .footer-links a {
      font-size: 0.50rem;
  }

  .footer-section .footer-bottom {
      font-size: 0.200rem;
  }


  .footer-section .col-md-3 {
      margin-bottom: 20px;
  }

  .footer-section .row {
    flex-direction: column;
  }

  .modal-dialog {
    max-width: 90%;
    margin: 10px auto;
  }
  .modal-content {
      font-size: 0.775rem;
  }
  .modal-header .btn-close {
      font-size: 0.675rem;
  }
  .modal-footer .btn {
      font-size: 0.675rem;
  }
}

.navbar-brand {
  margin-right: 18%;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.modal-button-container {
  bottom: 20px;
  left: 42%;
  justify-content: center;
  position:relative;
}

.modal-button-container button {
  margin: 10px;
  width: 100%; /* Делаем кнопку адаптивной */
  max-width: 250px; /* Ограничиваем максимальную ширину кнопки */
  font-size: 100%;
}



.footer-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  margin-top: 8vw; /* Добавлен отступ сверху */
}

.footer-section h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-section p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-section .footer-links a {
  color: #6c757d;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-section .footer-links a:hover {
  color: #000;
}

.footer-section .footer-bottom {
  margin-top: 3%;
  text-align: center;
  font-size: 0.875rem;
  color: #6c757d;
}
@media (max-width: 768px) {
  .footer-section h5 {
      font-size: 1.125rem;
  }

  .footer-section p {
      font-size: 0.875rem;
  }

  .footer-section .footer-links a {
      font-size: 0.875rem;
  }

  .footer-section .footer-bottom {
      font-size: 0.75rem;
  }
}